@tailwind base;
@tailwind components;
@tailwind utilities;

.newAmsterdam {
	font-family: var(--font-newAmsterdam);
}

.staatliches {
	font-family: var(--font-staatliches);
}

.bowlby {
	font-family: var(--font-bowlby);
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #2d3741;
		--primary: #4a361e;
		--secondary: #9b8d7a;
		--foreground: #fff;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
}
