@tailwind base;
@tailwind components;
@tailwind utilities;

.newAmsterdam {
	font-family: var(--font-newAmsterdam);
}

.staatliches {
	font-family: var(--font-staatliches);
}

.bowlby {
	font-family: var(--font-bowlby);
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #2d3741;
		--primary: #4a361e;
		--secondary: #9b8d7a;
		--foreground: #fff;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
}

.header {
	clip-path: polygon(
		100% 0%,
		0% 0%,
		0% 80.87%,
		2% 81.09%,
		4% 81.22%,
		6% 81.25%,
		8% 81.18%,
		10% 81.01%,
		12% 80.74%,
		14% 80.38%,
		16% 79.92%,
		18% 79.36%,
		20% 78.72%,
		22% 77.99%,
		24% 77.17%,
		26% 76.27%,
		28% 75.29%,
		30% 74.23%,
		32% 73.11%,
		34% 71.92%,
		36% 70.66%,
		38% 69.35%,
		40% 67.99%,
		42% 66.58%,
		44% 65.13%,
		46% 63.64%,
		48% 62.13%,
		50% 60.59%,
		52% 59.04%,
		54% 57.47%,
		56% 55.9%,
		58% 54.33%,
		60% 52.77%,
		62% 51.22%,
		64% 49.7%,
		66% 48.19%,
		68% 46.72%,
		70% 45.29%,
		72% 43.9%,
		74% 42.56%,
		76% 41.27%,
		78% 40.05%,
		80% 38.88%,
		82% 37.79%,
		84% 36.77%,
		86% 35.82%,
		88% 34.96%,
		90% 34.18%,
		92% 33.48%,
		94% 32.88%,
		96% 32.37%,
		98% 31.95%,
		100% 31.63%
	);
}
